$loader-size: 50px;
$loader-color: #007bff;
.container{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
 
  .loader {
    width: $loader-size;
    height: $loader-size;
    border-radius: 50%;
    border: 2px solid $loader-color;
    position: relative;
    animation: loader-zoom 1s ease-in-out infinite;
  }
}


.loader::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid $loader-color;
  border-radius: 50%;
}

@keyframes loader-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
