$primaryColor: #1976D2;
$thickColor: #052545;
h1,h2,h3,h5,p,div,span{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.expertise{
    width: 100%;
    height: max-content;
    padding: 3rem 0;
    margin-bottom: 1rem;
   align-items: center;
    display: flex;
    flex-direction: column;
  background-color: #1976d23f;
  @media screen and (max-width:550px) {
    padding: 1rem 0;
              
       }
    .wrapper{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:850px) {
            width: 90%;
                      
               }
        h4{
            color: $thickColor;
            font-size: 20px;
            text-align: center;
            margin-bottom: 2rem;
        }
        .btm{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
         gap: 2rem;
            justify-content: center;
            align-items: center;
            .imgcont{
                width: max-content;
                height: max-content;
                cursor: pointer;
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    background-color: rebeccapurple;
                }
            }
         
        }
    }
}